h1,h2 {
    font-family: 'fantasy';
   font-size:50px;
      color: #0D0D08;
  text-align: center;  
}
h4{
    font-size:20px;
    color: #12120B;
}
div{
    font-size: "50px";
    color: "green";
    padding:"20px";
}