

body {
    font-family: 'Raleway', sans-serif;
  /* background-image: url("backgrd.jpg");*/
   background-color:#3D929F;
    
}
.fa {
    padding: 5px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* github
.fa-github {
    background-color: #333;
    color: white;
}*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #66A7A2;
}
ul{
    padding:5px;
}
.float-left {
    float: left;
    margin-left: 100px;
    list-style: none;
    display: block;
} 
.float-right {
    float: right;
    margin-right: 100px;
}
header {
    height: 30px;
    padding:20px;
}
/*h1,h2 {
    font-family: 'fantasy';
   font-size:50px;
      color: #0D0D08;

  text-align: center;  
}*/
/*h4{
    font-size:20px;
    color: #12120B;
}
div{
    font-size: "50px";
    color: "green";
    padding:"20px";
}*/

.content-container {
    width: 800px;
    margin: auto;
    
}

.item-tag{
    background-color:whitesmoke;
    color:black;
    font-size: 15px;
}
/*fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}*/

